{% extends 'layout.html' %}
{% block body %}

<div class="columns">

    <div class="column is-one-quarter is-hidden-touch">
        {% if user != None %}
        <div class="wrap" style="position: -webkit-sticky; position: sticky; top: 0;">
            <h2 class="title is-2">Profile</h2>
            <div class="box">
                <div class="columns">
                    {% set profile_pic = url_for('static', filename='profile_pics/' + user.image_file) %}
                    <div class="column is-one-third">
                        <img src="{{ profile_pic }}" width="80" class="profile">
                    </div>
                    <div class="column">
                        <a href="{{ url_for('users.profile') }}">
                            <h5 class="title is-5 has-text-info">@{{ user.username }}&nbsp;
                                {% if user.verified %}
                                <i class="fas fa-check-circle"></i>
                                {% endif %}
                            </h5>
                        </a>
                        <h6 class="subtitle is-6" style="margin-bottom: 1rem; font-size: 80%;">{{ user.email }}</h6>


                        <div class="level">
                            <div class="level-left">
                                <div class="content is-small">
                                    <small>Tweeets</small>
                                    {% set user_posts = Post_model.query.filter_by(user_id=user.id).all() %}
                                    <h4 class="has-text-info" style="margin-bottom: 0;">{{ user_posts|length }}</h4>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="content is-small">
                                    <small>Following</small>
                                    {% set user_following = [] %}
                                    {% for user_query in User.query.all() %}
                                    {% for user_query_followers in user_query.followers.all() %}
                                    {% if user_query_followers == user %}
                                    {% set user_following = user_following.append(user) %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                    <h4 class="has-text-info" style="margin-bottom: 0;">{{ user_following|length }}</h4>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="content is-small">
                                    <small>Followers</small>
                                    {% set user_followers = user.followers.all() %}
                                    <h4 class="has-text-info" style="margin-bottom: 0;">{{ user_followers|length }}</h4>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>








    <div class="column is-half">

        <div class="level is-hidden-touch">
            <div class="level-left">
                <h2 class="title is-2">Tweeets</h2>
            </div>
            <div class="level-right">
                <div class="field has-addons" style="margin: .5rem 6rem 0 0;">
                    <p class="control">
                        {% if url_for(request.endpoint) == url_for('users.home') %}
                        <a class="button has-background-info has-text-white has-text-weight-bold"
                            href="{{ url_for('users.home') }}">
                            <span>Explore</span>
                        </a>
                        {% else %}
                        <a class="button" href="{{ url_for('users.home') }}">
                            <span>Explore</span>
                        </a>
                        {% endif %}
                    </p>
                    <p class="control">
                        {% if url_for(request.endpoint) == url_for('users.home_following') %}
                        <a class="button has-background-info has-text-white has-text-weight-bold"
                            href="{{ url_for('users.home_following') }}">
                            <span>Following</span>
                        </a>
                        {% else %}
                        <a class="button" href="{{ url_for('users.home_following') }}">
                            <span>Following</span>
                        </a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        {% for post in posts|reverse %}


        {% include "includes/_post.html" %}

        {% endfor %}

    </div>

    <div class="column is-one-quarter is-hidden-touch">
        <div class="wrap" style="position: -webkit-sticky; position: sticky; top: 0;">
            <h2 class="title is-2">You may know</h2>
            <div class="box">

                {% for suggestion in follow_suggestions %}
                <div class="columns is-vcentered" style="margin-top: 2px; margin-bottom: 2px;">
                    <div class="column is-one-third">
                        <img src="{{ url_for('static', filename='profile_pics/' + suggestion.image_file) }}"
                            alt="{{ suggestion.username }}" class="profile" width="60">
                    </div>
                    <div class="column">
                        <h2 class="title is-6 has-text-info">{{ suggestion.username }}</h2>
                    </div>
                    <div class="column is-one-quarter">
                        {% if user in suggestion.followers.all() %}
                        <a href="{{ url_for('users.unfollow', id=suggestion.id) }}">
                            <div class="box icon has-background-light is-small">
                                <i class="fas fa-user-minus has-text-danger"></i>
                            </div>
                        </a>
                        {% else %}
                        <a href="{{ url_for('users.follow', id=suggestion.id) }}">
                            <div class="box has-background-info icon is-small">
                                <i class="fas fa-user-plus has-text-white"></i>
                            </div>
                        </a>
                        {% endif %}

                    </div>
                </div>
                {% if suggestion != follow_suggestions[-1] %}
                <hr class="is-marginless">
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>



</div>



{% endblock %}