{% extends 'layout.html' %}

{% block body %}
<h1 class="title is-1">Profile</h1>
<h2 class="subtitle is-4">Welcome {{session.username}}</h2>

<img src="{{ profile_pic }}" alt="Profile Picture" style="width: 100px; height: 100px;" class="profile">

<a href="{{ url_for('users.update_photo') }}" class="button is-success is-rounded" style="width: 40px; height: 40px;">
    <i class="fas fa-user-edit"></i>
</a>

<a href="
    {{ url_for('tweets.new_post') }}" class=" button is-info is-rounded">New Post</a>
<hr>
{% endblock %}