<div class="navbar is-fixed-top has-text-weight-semibold" style="border-bottom: 1px solid rgba(0,0,0,0.25);">
    <div class="container">
        <div class="navbar-menu">

            <div class="navbar-start">
                <!-- logic for underlining current tab -->
                {% if request.path == "/" %}
                <style>
                    a.home-nav {
                        border-bottom: 3px solid hsl(204, 86%, 53%);
                    }
                </style>
                {% elif request.path == '/search' %}
                <style>
                    .search-nav {
                        border-bottom: 3px solid hsl(204, 86%, 53%);
                    }
                </style>
                {% endif %}

                <a href="{{ url_for('users.home') }}" class="navbar-item home-nav"><i
                        class="fas fa-home has-text-info"></i>&nbsp;&nbsp;Home</a>
            </div>

        </div>

        <div class="navbar-brand">

            <a class="navbar-item has-text-info" href="{{ url_for('users.home') }}">
                <img src="{{ url_for('static', filename='graphics/' + 'tweeeter-logo.png') }}" alt="">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item search-nav">
                    <form action="{{ url_for('users.search')  }}" method="POST">
                        <div class="control has-icons-right">
                            <input type="search" placeholder="Search tweeetter" class="input is-rounded" name="search">
                            <span class="icon is-right">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </form>
                </div>
                {% if session.logged_in %}
                <div class="navbar-item">
                    <a href="{{ url_for('tweets.new_post') }}" class="button is-info is is-rounded"><i
                            class="fas fa-pen-nib"></i>&nbsp;&nbsp;Tweeet</a>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item">
                        <span class="icon has-text-info">
                            <i class="fas fa-lg fa-ellipsis-v"></i>
                        </span>
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item has-text-info" href="{{ url_for('users.profile') }}">
                            <i class="fas fa-user"></i>&nbsp;&nbsp;Profile
                        </a>
                        <a class="navbar-item has-text-info" href="{{ url_for('users.logout') }}">
                            <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="navbar-item">
                <a href="{{ url_for('users.login') }}" class="button is-info is is-rounded">Login</a>
            </div>
            <div class="navbar-item">
                <a href="{{ url_for('users.register') }}" class="button is-info is is-rounded">Register</a>
            </div>
            {% endif %}
        </div>
    </div>

</div>
</div>